SetEnvIfNoCase User-Agent ^$ bad_bot #leave this for blank user-agents
SetEnvIfNoCase User-Agent "^ia_archiver" bad_bot
SetEnvIfNoCase User-Agent "^Enter User-Agent" bad_bot
SetEnvIfNoCase User-Agent "^Enter User-Agent" bad_bot
SetEnvIfNoCase User-Agent "^Enter User-Agent" bad_bot
SetEnvIfNoCase User-Agent "^Enter User-Agent" bad_bot

<Limit GET POST HEAD>
Order Allow,Deny
Allow from all
Deny from env=bad_bot
</Limit>
